script src="https://js.stripe.com/v3/stripe.js"
script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"

link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css"
