hr.property-separator {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border: 0;
  border-top: 1px solid silver;
  border-width: 1px;
}

.hidden {
  display: none !important;
}

ul.properties {
  list-style: none;
}

.company-logo {
  img {
    height: 125px;
    width: auto;
  }
}

.stripe-logo {
  margin-top: 20px;
  text-align: center;
  img {
    height: 30px;
  }
}

select:disabled {
  background: #dddddd;
}

.form-body {
  background: #fafafa;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-input__number {
  position: relative;
  input {
    text-indent: 55px;
  }
  .icon-card {
    background: url('/images/icons/card-generic@2x.png') top left no-repeat;
    background-size: 41px 25px;
    bottom: 8px;
    display: block;
    height: 25px;
    left: 10px;
    position: absolute;
    width: 41px;
    z-index: 10;
  }

  .icon-lock {
    background: url('/images/icons/icon-lock@2x.png') top left no-repeat;
    background-size: 15px 20px;
    bottom: 12px;
    display: block;
    height: 20px;
    position: absolute;
    right: 10px;
    width: 15px;
    z-index: 10;
  }
}

#subscribe {
  @include box-shadow(0 3px 0 $blue);
  @include border-radius(3px);
  border: 1px solid transparent;
  background: #008CBA;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0; // For input.btn
  outline: none;
  padding: 7px 14px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  vertical-align: middle;

  &:hover,
  &:active {
    background: #ffa408;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

// -- CONFIRMATION ----------

.form__success {
  display: none;
}

.confirmation {
  position: absolute;
  left: -10000px;
}

.confirmation-body {
  position: relative;
  min-height: 0px;
}

.confirmation__show .confirmation-body {
  min-height: 270px;
}

.confirmation-messaging {
  @include verticalAlign();
  transition-delay: 1s;
  transition: top 0.3s, opacity 0.3s;

  background: url('/images/success_mark.png') top center no-repeat;
  color: #48626C;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  opacity: 0;
  padding-top: 135px;
  text-align: center;
  top: 55%;
  width: 100%;
}

.confirmation__show {
  position: relative;
  left: 0;
}

.confirmation-messaging.animate {
  transition-delay: 1s;
  transition: top 0.3s, opacity 0.3s;
  top: 50%;
  opacity: 1;
}

// -- SUBSCRIPTION DETAILS ---

.logo-container {
  background-color: $oil;
  border-bottom: 1px solid $lightGray;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.subscription-name-container {
  select#plan {
    font-size:20px;
    height:45px;
    &:hover {cursor: pointer;}
  }
  .subscription-pricing {
    border: 1px solid #cbcbcb;
    line-height: 42px;
    text-align: right;
  }
}

.billing-info-container {
  background-color: #fafafa;
  float: left;
  padding: 20px 0;
  width:100%;
}

.section-title {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2e7e9;
}

.subscription-price {
  font-size: 18px;
}

.subscription-frequency {
  margin-left: 5px;
  font-size: 14px;
}

.subscription-name {
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 14px auto 0 auto;
  padding: 0 25px;
  width: 100%;
  text-align: center;
}

// -- ORDER SUMMARY --------


.total, .tax, .pricing, .properties-quantity {
  padding: 20px;
  span.total-title {
    width:80%;
    float: left;
  }
  span.total-amount {
    display: inline-block;
    text-align: right;
    width:20%;
    right: right;
    margin-bottom: 10px;
  }
  span.grand-total {
    border-top: 1px solid black;
  }
}

// -- ERRORS --------------

.form-errors {
  @include border-radius(5px);

  color: #a94442;
  background-color: #fce3e4;
  border-color: #ebccd1;
  margin-bottom: 10px;
  padding: 20px;

  strong {
    font: {
      size: 14px;
      weight: 600;
    }
  }

  ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
  }

  li {
    font-size: 12px;
  }
}

.form-errors__hidden {
  display: none;
}

.form-input__error {
  & label {
    color: #e35256 !important;
  }
  & input {
    border-color: #e35256 !important;
    color: #802e31 !important;
  }
}
