$columns: 12;
$column: 60;
$gutter: 20;

@function grid-width($n) {
  @return toRem($n * $column + ($n - 1) * $gutter);
  //              12 * 40 + 11*20 = 480 + 220 =
  //              4 * 60 + 3*20 = 240 + 60
}

@function grid-offset($n) {
  @return toRem($n * $column + $n * $gutter);
}
