$xsmall: 320;
$small: 480;
$medium: 600;
$large: 980;
$xlarge: 1200;
$xxlarge: 1400;

$white: #fefefe;
$lightGray: #cccccc;
$mediumGray: #777777;
$darkGray: #333333;

$retina: "screen and (-webkit-min-device-pixel-ratio: 2), screen and ( min-resolution: 192dppx), screen and ( min-resolution: 2dppx)";
