@import 'grid';
@import 'mixins';
@import 'variables';

::-webkit-input-placeholder {
   line-height: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   line-height: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   line-height: 20px;
}

:-ms-input-placeholder {
   line-height: 20px;
}

label {
  color: #48626C;
  display: block;
  line-height: 30px;
  font-size: 14px;
  display: block;
}

input[type='text'],
input[type='number'] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
  color: #818181;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #C6CFD2;
  border-radius: 3px;
  margin-bottom: 5px;
  -webkit-appearance: none;

  &:focus {
    // Default
    outline: thin dotted;
    // WebKit
    outline: none;
    outline-offset: 0;

    border-color: #A2A8A3
  }
}

input[type='text'],
select {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }

  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
}

select {
  margin: 10px 0;

  &:-webkit-autofill {
    -webkit-appearance: menu;
  }

  &:-webkit-autofill:focus {
    -webkit-appearance: menu;
  }
}

input[type='submit'] {
  @include box-shadow(0 3px 0 #EB9909);
  @include border-radius(3px);
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;

  width: 100%;
  background: #FFAB17;
  outline: none;
  padding: 7px 14px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;

  &:hover,
  &:active {
    background: #ffa408;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.form {
  background-color: #FAFAFA;
  margin: 0 auto;
  overflow: hidden;

  @include mq($small) {
    @include border-radius(5px);
    @include box-shadow(0px 2px 0px #EBEBEB);

    border: 1px solid #D1DBDF;
    margin: 20px auto 20px auto;
    width: grid-width(6);
  }
}

  .btn-submit {
    margin-top: 20px;
  }

.form-input {
  @include mq($medium) {
    width: inherit;
  }

  float: left;
  position: relative;
  width: 100%;
}

  .form-input__error {
    & label {
      color: #e35256;
    }
    & input {
      border-color: #e35256;
      color: #802e31;
    }
  }

.icon-card {
  display: block;
  height: 25px;
  width: 41px;
  z-index: 10;
  position: absolute;
  left: 10px;
  bottom: 13px;

  -ms-transform: scale(0,0); /* IE 9 */
  -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
  transform: scale(0,0);

  -webkit-transition: scale 0.2s;
  transition: scale 0.2s;

  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

  .icon-card__generic,
  .icon-card__visa,
  .icon-card__amex,
  .icon-card__discover,
  .icon-card__mastercard {
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
    transform: scale(1,1);


    -webkit-transition-delay: scale 0.2s;
    transition-delay: scale 0.2s;
  }

  .icon-card__generic {
    background: url('/images/icons/card-generic.png') top left no-repeat;
  }

  .icon-card__visa {
    background: url('/images/icons/card-visa.png') top left no-repeat;
  }

  .icon-card__amex {
    background: url('/images/icons/card-amex.png') top left no-repeat;
  }

  .icon-card__discover {
    background: url('/images/icons/card-discover.png') top left no-repeat;
  }

  .icon-card__mastercard {
    background: url('/images/icons/card-mastercard.png') top left no-repeat;
  }

.icon-lock {
  background: url('/images/icons/icon-lock.png') top left no-repeat;
  display: block;
  height: 16px;
  width: 10px;
  z-index: 10;
  position: absolute;
  right: 10px;
  bottom: 17px;
}

.form-errors {
  @include border-radius(5px);

  color: #a94442;
  background-color: #fce3e4;
  border-color: #ebccd1;
  margin-bottom: 10px;
  padding: 20px;

  strong {
    font: {
      size: 14px;
      weight: 600;
    }
  }

  ul {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
  }

  li {
    font-size: 12px;
  }
}

.form-errors__hidden {
  display: none;
}

.form-input {
  &.form-input__selection {
    line-height: 38px;
  }
}


.confirmation {
  position: absolute;
  left: -10000px;

  @include mq($small) {
    position: relative;
  }
}

  .confirmation-body {
    position: relative;
    min-height: 0px;
  }

    .confirmation__show .confirmation-body {
      min-height: 270px;
    }

  .confirmation-messaging {
    @include verticalAlign();
    transition-delay: 1s;
    transition: top 0.3s, opacity 0.3s;

    background: url('/images/success_mark.png') top center no-repeat;
    color: #48626C;
    font-size: 18px;
    padding-top: 135px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    top: 55%;
    opacity: 0;
    margin: 0;
  }

  .confirmation__show {
    position: relative;
    left: 0;
  }

  .confirmation-messaging.animate {
    transition-delay: 1s;
    transition: top 0.3s, opacity 0.3s;
    top: 50%;
    opacity: 1;
  }
