@import 'variables';
@import 'mixins';

.subscription-name-container {
  float: left;
  width: 100%;
  padding: 0;
  min-height: 74px;
  width: 60%;

  @include mq($small) {
    padding: 25px 0;
  }
}
.subscription-pricing-container {
  height: 100%;
  float: right;
  width: 100%;

  @include mq($small) {
    width: auto;
  }
}



.subscription-pricing {
  @include border-radius(5px);

  background-color: #81AE17;
  color: #E0F2BD;
  display: inline-block;
  padding: 8px 14px;
  margin: 10px 0 20px 0;
  position: relative;

  @include mq($small) {
    @include verticalAlign();
    margin: 0;
    right: 26px;
  }
}

  .subscription-price {
    font-size: 18px;
  }

  .subscription-frequency {
    margin-left: 5px;
    font-size: 14px;
  }

.subscription-name {
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 14px auto 0 auto;
  padding: 0 25px;
  width: 100%;
  text-align: center;

  @include mq($small) {
    display: inline-block;
    line-height: 24px;
    text-align: left;
    margin: 0;
  }
}

.subscription-pricing-container.one-time {
  width: 100%;
  float:left;
  @include mq($small) {
    float:right;
    width: auto;
  }
  .quantity-wrap {
    @include mq($xsmall) {
      top:5px;
      margin: 10px auto;
      width: 90%;
      right:0;
     }
    @include mq($small) {
        margin: 0;
        width:40%;
        right:-40px;
        top:21px;
    }
  }
  .subscription-pricing {
    float:right;
     @include mq($xsmall) {
      float:none;
     }
     @include mq($small) {
      float:right;
     }
  }
}



.customer-fields--card-details {
  .form-input {
    &:nth-child(1) {
      padding-right: 14px;
      width: 32.8%;
    }

    &:nth-child(2) {
      padding-right: 14px;
      width: 34%;
    }

    &:nth-child(3) {
      width: 32.8%;
    }

    @include mq($small) {
      &:nth-child(1) {
        padding-right: 14px;
        width: 30%;
      }

      &:nth-child(2) {
        padding-right: 14px;
        width: 40%;
      }

      &:nth-child(3) {
        width: 29.99%;
      }
    }
  }
}

.customer-fields--card-expiry {
  [id="month"],
  [id="year"] {
   text-align: center;

    &::-webkit-input-placeholder {
       text-align: center;
    }

    &:-moz-placeholder { /* Firefox 18- */
       text-align: center;
    }

     ::-moz-placeholder {  /* Firefox 19+ */
       text-align: center;
    }

    &:-ms-input-placeholder {
       text-align: center;
    }

  }

  [id="month"] {
    @include border-top-right-radius(0px);
    @include border-bottom-right-radius(0px);
    float: left;
    width: 50%;
  }

  [id="year"] {
    @include border-top-left-radius(0px);
    @include border-bottom-left-radius(0px);
    float: left;
    width: 50%;
    margin-left: -1px;
  }

  [id="month"]:focus {
    position: relative;
    z-index: 10;
  }
}
