@import 'variables';
@import 'mixins';

.form-header {
  background: url('/images/kalekrate/form-header-bg.png') center no-repeat;
  height: 167px;
  position: relative;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background: url('/images/kalekrate/form-header-bg@2x.png') center no-repeat;
      background-size: cover;
    }
  }

  h1 {
    @include irGraphic('/images/kalekrate/kalekrate-branding.png', 288px, 61px);
    @include background-image-retina('/images/kalekrate/kalekrate-branding', 'png', 288px, 61px);
    @include verticalAlign();

    text-indent: -9999px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

form {
  padding: 20px 14px 28px 14px;
  transition-delay: 0.2s;
  transition: height 0.3s;
  float:left;
  @include mq($small) {
    padding: 20px 26px 28px 26px;
  }

  .row {
    width: 100%;
    float: left;
  }
}
.hidden {
  display:none;
}
select {
  background:#fff;
}
select, input.quantity {
    padding:3px;
    margin: 0;
    @include border-radius(3px);
    color:#818181;
    border:1px solid #c6cfd2;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    height:40px;
    width:98%;
    font-size:14px;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
    padding-left: 10px;
    padding-right: 18px;
  }
}

.select-wrap, .quantity-wrap {position:relative}
.select-wrap:after,
.quantity-wrap:after {
    content: ' ';
    background: url('/images/icons/select-arrow-small@2x.png') center no-repeat;
    right: 12px;
    top: 16px;
    padding: 0 0 2px;
    border: 0;
    position: absolute;
    pointer-events: none;
    background-size: 9px 6px;
    width: 9px;
    height: 6px;
}

.select-wrap:before, .quantity-wrap:before {
    content:'';
    right:3px; top:2px;
    width:26px; height:37px;
    position:absolute;
    pointer-events:none;
    display:block;
    background: #fff;
}

.form__success {
  display: none;
}

.form-bar {
  background-color: #91C11E;
  border-bottom: 1px solid #86B11C;
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.customer-fields--name {
  .form-input {
    float: left;
    width: 50%;

    &:first-child {
      padding-right: 7px;
    }

    &:last-child {
      padding-left: 7px;
    }
  }
}

.customer-fields--card-number {
  input[type='text'] {
    padding: 5px 44px 5px 74px;
  }
}


.customer-fields--card-expiry {
  [id="month"],
  [id="year"] {
   text-align: left;

    &::-webkit-input-placeholder {
       text-align: left;
    }

    &:-moz-placeholder { /* Firefox 18- */
       text-align: left;
    }

     ::-moz-placeholder {  /* Firefox 19+ */
       text-align: left;
    }

    &:-ms-input-placeholder {
       text-align: left;
    }

  }

  [id="month"] {
    @include border-top-right-radius(0px);
    @include border-bottom-right-radius(0px);
    float: left;
    width: 50%;
  }

  [id="year"] {
    @include border-top-left-radius(0px);
    @include border-bottom-left-radius(0px);
    float: left;
    width: 50%;
    margin-left: -1px;
  }

  [id="month"]:focus {
    position: relative;
    z-index: 10;
  }
}
