@import 'variables';
@import 'grid';
@import 'mixins';

.customer-fields--card-details {
  .form-input {
    float: left;
    margin: 7px 0;

    &:first-child {
      padding-right: 7px;
      width: 50%;
    }

    &:last-child {
      padding-left: 7px;
      width: 50%;
    }
  }
}

.form-input__error {
  & label {
    color: #e35256;
  }
  & input {
    border-color: #e35256;
    color: #802e31;
  }
}

.form-input__state {
  float: left;
  padding-right: 7px;
  width: 30%;

  & select {
    width: 100%;
  }
}

.form-input__postal-code {
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  width: 20%;
}

.form-input__country {
  width: 50%;
  padding-left: 7px;
}

[id="country"] {
  width: 100%;
}


form {
  display: block;
  margin: 0 auto;
  padding: 0;

  @include mq($xsmall) {
  }

  @include mq($small) {
    width: grid-width(5);
  }

  @include mq($medium) {
    width: grid-width(6);
  }

  @include mq($large) {
    width: grid-width(8);
  }

  @include mq($xlarge) {
    width: grid-width(12);
  }

  @include mq($xxlarge) {
    width: grid-width(12);
  }
}

.billing-info-container {
  background-color: #fafafa;
  float: left;
  padding: 20px 0;
  width:100%;

  .row {
    padding: 5px 25px;
  }
}

.order-summary-container {
  background-color: #fafafa;
  float: right;
  width: 100%;

  @include mq($small) {
    border: 1px solid #D1DBDF;
  }

  @include mq($medium) {
    width: 100%;
  }

  @include mq($large) {
    float: right;
    width: 100%;
  }

  @include mq($xlarge) {
    @include border-radius(5px);
    @include box-shadow(0px 2px 0px #CCCCCC);

    width: grid-width(5);
    float: right;
  }

  @include mq($xxlarge) {
    float: right;
    width: grid-width(5);
  }
}

.order-summary-title {
  background-color: #E2E7E9;
  float: left;
  padding: 10px 25px;
  width: 100%;
  color:#48626c;
}

.form-bar {
    padding: 20px;
    .subscription-pricing {
      position:static;
      transform: translateY(0%);
  }
  select.curr, select.plan, .select-wrap:before, .select-wrap input {
    background:  $blue;
    color:#fff;
    border: 2px solid #fff;
    font-size:20px;
    height:44px;
  }
  @include mq($large) {
    select.plan {
      margin-right:-4px;
    }
  }
  @include mq($xlarge) {
    select.plan {
      margin-right:-2px;
    }
  }
}

.customer-fields--card-details .form-input:nth-child(2) {
  padding-right:0;
}

input[type="submit"] {
  margin: 0 12px 20px;
  width: 94%;
}

.total, .tax {
  position:relative;
  padding: 20px;
  float:right;
  border-top:2px solid #e2e7e9;
  width:100%;
  text-align:right;
  font-size: 22px;
  color: #48626c;
  span.total-amount {
    display: inline-block;
    margin-left: 8%;
    width:22%;
  }
}
.tax {
  font-size:16px;
  border-top:0;
}
